[Desktop Entry]
Name=Nerox Music
GenericName=Music Player
Comment=Music, Tracks & Community — Stream and share your music
Exec=muzo
Icon=com.shashwat.muzo
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=Nerox Music
Categories=Audio;Music;Player;
Keywords=music;player;stream;audio;community;tracks;
MimeType=audio/mpeg;audio/ogg;audio/wav;audio/flac;audio/aac;audio/mp4;
